body{
    background-color: black;
    color: greenyellow;
}
span{
    display:flex;
    align-items: center;
    justify-content:center ;
    font-family: cursive;
    margin: 250px auto;
    font-size: xx-large;

}